NUXT_PUBLIC_API_BASE_URL=http://localhost:8080
NUXT_API_BASE_URL=http://localhost:8080
NUXT_PUBLIC_TOUCHGAL_TECH_DOCS_URL=https://github.com/KUN1007/kun-touchgal-next
NUXT_PUBLIC_API_DOCS_URL=/docs/api
NUXT_PUBLIC_TURNSTILE_SITE_KEY=
